{% extends 'base_restaurateur_page.html' %}
{% load filters %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}
<style>
  ul {
    list-style-type: none;
   }
</style>

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive table-striped">
    <tr>
     <!--<th>ID заказа</th>-->
      <th scope="col">Статус</th>
      <!--<th>Способ оплаты</th>
      <th>Сумма заказа</th>-->
      <th scope="col">Клиент</th>
      <th scope="col">Телефон</th>
      <th scope="col">Адрес доставки</th>
      <!-- <th scope="col">Комментарий</th> -->
      <th scope="col">Рестораны</th>
      <th scope="col">Ссылка на админку</th>
    </tr>

    {% for item in orders %}
      <tr>
        <!--<td>{{ item.id }}</td>-->
        <th scope="row">{{ item.get_status }}</th>
        <!--<td>{{ item.payment_method }}</td>
        <td>{{ item.amount }}</td>-->
        <td>{{ item.full_name }}</td>
        <td>{{ item.phonenumber }}</td>
        <td>{{ item.address }}</td>
        <!-- <td>{{ item.comment }}</td> -->
        <td>
          {% if item.cook_restaurant %}
            Готовиться в 
            <strong>
              {{ item.cook_restaurant.name }}
            </strong>
          {% else %}
            {% if not item.availability_geo %}
              <span style="color: red">
                Ошибка определения координат
              </span>
            {% else %}
              <details>
                <summary style="cursor:pointer">
                  {% if item.access_restaurants|length == 1 %}
                    ➔ Может приготовить заказ:
                  {% else %}
                    ➔ Могут приготовить заказ:
                  {% endif %}
                </summary>
                <ul style="list-style-type: none">
                  {% for access_restaurant in item.access_restaurants %}
                    <li>
                      <strong>
                        {{ access_restaurant.name }} {{ access_restaurant.distance }} км.
                      </strong>
                    </li>
                  {% endfor %}
                </ul>
              </details>
            {% endif %}
          {% endif %}
        </td>
        <td><a href="{% url 'admin:foodcartapp_order_change' object_id=item.id %}?back_page={{ request.get_full_path|urlencode }}"> Редактировать </a></td>
      </tr>
    {% endfor %}
   </table>
  </div>

{% endblock %}
