{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Сумма заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for item in order_items %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.full_name }}</td>
        <td>{{ item.contact_phone }}</td>
        <td>{{ item.address }}</td>
        <td><a href="{% url 'admin:foodcartapp_makeorder_change' object_id=item.id %}?back_page={{ request.get_full_path|urlencode }}"> Редактировать </a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
